.button {
	all: unset;
	cursor: pointer;
	font-weight: 650;
	margin-block: 1rem;
	margin-inline: auto;
	padding-inline: 0.4rem;
	padding-block: 0.4rem;
	border-radius: 0.7rem;
	font-size: 1.1rem;
	text-transform: uppercase;
	background-color: var(--button-color);
	color: var(--button-text-color);
	border: 2px solid var(--fourth-color);
	box-shadow: 0 0 0.2375rem var(--box-shadow-color);
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: var(--button-color-hover);
	}
	@media (max-width: 999px) {
		padding: 0.5rem;
		font-size: 1rem;
	}
}

.nope {
	cursor: not-allowed;
	pointer-events: none;
	filter: grayscale(90%);
}

.spaced {
	margin-inline: 0;
	margin-block: 0;
}
