.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
    @media screen and (min-width: 768px) {
        height: 40%;
        padding: 4rem;
        margin-block-start: 7%;
        gap: 0;
    }
}